{% extends "todos/base.html" %}

{% block title %} Create Page {% endblock %}

{% block content %}
<main>
    <div>
        <h1>Create a new list</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="name">
            <button>Create</button>
        </form>
    </div>

</main>
{% endblock %}
